img {
  margin-left:350px;
  margin-bottom:-25px;
}
h2 {
  margin-left:380px;
}
h3 {
  float: right;
  margin-right: 220px;
  margin-top: -84px;
}
.header-right > img {
  float: right;
  margin-right: 398px;
  margin-top: -59px;
}
strong {
  float: right;
  margin-right: 290px;
  margin-top: -45px;
  font-size:20px;
  color:#2965BE;
}
 span{
    display: none;
}
.ca6 {
  color: #a6a6a6;
}
p.ca6 small {
  font-size: 11px;
  font-weight: normal;
}
small {
  margin-left: 90px;
}
.ca6 {
  color: #a6a6a6;
  margin-top: -16px;
}
input {
  margin-left: 34px;
  width: 450px;
}
.contact-form{
  margin-left: 400px;
  margin-top: 50px;
}
@media(min-width:320px) and (max-width:480px) {
    img {
  margin-left:0px;
  margin-bottom:-25px;
}
h2 {
  margin-left:0px;
}
	
}